<div class="post">
  <img src="<%= @book.photo_id%>" alt="" />
<p><%= @book.title %></p><div class="sub"><p><%= @book.price %></p> </div></p>
<div class="edit"><%= link_to "Edit", edit_book_path(id: @book.id), class: "Editbttn"%></div>

</div>
